.navbar__container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #333;
}
.navbar__container .navbar__list{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    justify-content: space-around;
}
.navbar__container .navbar__list li{
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar__container .navbar__list li a{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__container .navbar__list li a:active{
background: chocolate;
font-size: 20px;
}